mat-card{
    width: 35%;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    backdrop-filter: blur(50px);
    background-color: #ffffff36;
    
}

button{
    width: 100%;
    font-size: medium;
}

form{
    width: 115%;
}

mat-form-field{
    width: 100%;

}

.error-style{
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}