<app-menu></app-menu>

<div fxFlexFill fxLayoutAlign="center center">
    <mat-card>
        <h1> Alkalmazás használata! </h1>

        <p>Az alkalmazás egy angular és firebase alapokon működő webapp.</p>
        <p> <b>Használat:</b> Ha még nincs fiókod regisztrálni kell. Ha van akkor belépni miondekettő firebase auth-al van megvalósítva. Belépés ótán tudsz mérő órát rögzíteni, maja ennek az állását is be tudod rögzíteni. Ezen felül van lehetőséged a profilom menüpont alatt nevet módosítani.</p>
    </mat-card>
    
    </div>