mat-card{
    width: 35%;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    backdrop-filter: blur(50px);
    background-color: #ffffff36;
    
}

p{
    font-size: large;
    align-items: center;
}