<app-menu></app-menu>

<h1> Üdvözlünk {{cuser.name.lastname}} !</h1>

<div fxLayout="row wrap" class="container">
    <div fxFlex>
      <div class="grid-item" fxLayout="row" fxLayoutAlign="center center" routerLink="/addclock"> Órák </div>
      <div class="grid-item" fxLayout="row" fxLayoutAlign="center center" routerLink="/addmeasurement">Óra állások </div>
      <div class="grid-item" fxLayout="row" fxLayoutAlign="center center" routerLink="/profile"> Profil </div>
      <div class="grid-item" fxLayout="row" fxLayoutAlign="center center"> Statisztikák <br> fejlesztés alatt... </div>
    </div>
  </div>